test_stuff/
*.o
*.bin
theory/
workspace/

project/supervisor/line_follower*
# submission files
submissions/

# labs 3 related
labs/lab_03/heptagon
labs/lab_03/libraries
labs/lab_03/supervisor/line_follower*
!labs/lab_03/heptagon/line_follower.ept